#content {
    display: flex;
    justify-content: center ;
    width: 100%;
    height: auto;
    margin-bottom: 20vh;

}

#map {
    margin-top: 10vh;
    width: 100%;
    height: 100%;
    display: flex;

    flex-direction: row;
    justify-content: center;
}

.container-map {
    display: grid;
    grid-template-columns: repeat(9, 1fr);

}

.content-map{
    grid-column: 2 / -2;
    
}

#map svg {
border: 7px solid transparent;
border-color:  #f1f1f1;
background-color: white;
width: 70vw;

}

#info-panel {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #f1f1f1;
    padding-left: 20px;
    padding-right: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    width: auto;
    border-radius: 5px;
    
}


#year-slider-container {
    position: absolute;
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    /* margin-left: 20rem; */
    margin-top: -3rem;

}

#year-slider{

    width: 20vw;

}

#year-display {
    margin-left: 5vw;
    font-size: x-large;

}
